Import basic pakages

In [1]:
import numpy as np;
import pandas as pd;
from sklearn.model_selection import  train_test_split

import csv files

In [2]:
match = pd.read_csv('matches.csv')
delilveries= pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

shape of data set

In [4]:
match.shape

(1095, 20)

In [5]:
delilveries

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [6]:
total_score_df = delilveries.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
total_score_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

first innings score

In [7]:
total_score_df= total_score_df[total_score_df['inning']==1]
total_score_df

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [8]:
match_df= match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on="match_id")

In [9]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [10]:
match_df["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [11]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [12]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [13]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [14]:
match_df["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings'], dtype=object)

In [15]:
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [16]:
match_df=match_df[['match_id','city','winner','total_runs']]
match_df

      match_id        city                       winner  total_runs
0       335982   Bangalore        Kolkata Knight Riders         222
1       335983  Chandigarh          Chennai Super Kings         240
2       335984       Delhi             Delhi Daredevils         129
3       335985      Mumbai  Royal Challengers Bangalore         165
4       335986     Kolkata        Kolkata Knight Riders         110
...        ...         ...                          ...         ...
1083   1426298     Kolkata        Kolkata Knight Riders         157
1084   1426299     Chennai          Chennai Super Kings         141
1091   1426309   Ahmedabad        Kolkata Knight Riders         159
1093   1426311     Chennai          Sunrisers Hyderabad         175
1094   1426312     Chennai        Kolkata Knight Riders         113

[839 rows x 4 columns]

In [17]:
delivery_df=match_df.merge(delilveries,on='match_id')
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199874,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199875,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199876,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199877,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [18]:
delivery_df= delivery_df[delivery_df['inning']==2]
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199873,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199874,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199875,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199876,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
199877,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [19]:
delivery_df['total_runs_y']= pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')
delivery_df 

#check the data type of the column
print(delivery_df['total_runs_y'].dtype)
#print(delivery_df['total_runs_x'].dtype)

#Apply the cumulative sum with numaric_only set to true 
delivery_df['current_score']= delivery_df.groupby('match_id')['total_runs_y'].cumsum(numeric_only=True)
delivery_df['current_score']

int64

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\656862746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['total_runs_y']= pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\656862746.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score']= delivery_df.groupby('match_id')['total_runs_y'].cumsum(numeric_only=True)

124         1
125         2
126         2
127         3
128         4
         ...
199873    110
199874    111
199875    112
199876    113
199877    114
Name: current_score, Length: 96385, dtype: int64

In [20]:
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4

In [21]:
#runRate 
delivery_df['runs_left']= delivery_df['total_runs_x']-delivery_df['current_score']

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\3474260545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left']= delivery_df['total_runs_x']-delivery_df['current_score']

In [22]:
delivery_df['balls_left']=120-(delivery_df['over']*6+delivery_df['ball'])

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\3788185712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left']=120-(delivery_df['over']*6+delivery_df['ball'])

In [23]:
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,221,119
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,220,118
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,220,117
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,219,116
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,218,115

In [24]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'extras_type',
       'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder',
       'current_score', 'runs_left', 'balls_left'],
      dtype='object')

In [25]:
delivery_df["player_dismissed"]

124       NaN
125       NaN
126       NaN
127       NaN
128       NaN
         ...
199873    NaN
199874    NaN
199875    NaN
199876    NaN
199877    NaN
Name: player_dismissed, Length: 96385, dtype: object

In [26]:
# Fill NaN values with "0" for specific columns using .loc
delivery_df.loc[:, 'player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df.loc[:, 'fielder'] = delivery_df['fielder'].fillna("0")
delivery_df.loc[:, 'dismissal_kind'] = delivery_df['dismissal_kind'].fillna("0")

# Convert 'player_dismissed' to int directly, setting to 1 if not "0"
delivery_df.loc[:, 'player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: 1 if x != "0" else 0)

# Ensure 'player_dismissed' is of integer type
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype(int)
 
# Print the data type of 'player_dismissed' to verify it's an integer type
print(delivery_df['player_dismissed'].dtype)

# Calculate the cumulative sum of 'player_dismissed' grouped by 'match_id'
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum()

# Calculate the remaining wickets based on the total (10 - cumulative wickets)
delivery_df['wickets'] = 10 - wickets

# Display the first few rows of the updated DataFrame
print(delivery_df.head())

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\177369347.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype(int)

int32
     match_id       city                 winner  total_runs_x  inning  \
124    335982  Bangalore  Kolkata Knight Riders           222       2
125    335982  Bangalore  Kolkata Knight Riders           222       2
126    335982  Bangalore  Kolkata Knight Riders           222       2
127    335982  Bangalore  Kolkata Knight Riders           222       2
128    335982  Bangalore  Kolkata Knight Riders           222       2

                    batting_team           bowling_team  over  ball    batter  \
124  Royal Challengers Bangalore  Kolkata Knight Riders     0     1  R Dravid
125  Royal Challengers Bangalore  Kolkata Knight Riders     0     2  W Jaffer
126  Royal Challengers Bangalore  Kolkata Knight Riders     0     3  W Jaffer
127  Royal Challengers Bangalore  Kolkata Knight Riders     0     4  W Jaffer
128  Royal Challengers Bangalore  Kolkata Knight Riders     0     5  R Dravid

     ... total_runs_y extras_type  is_wicket  player_dismissed  \
124  ...            1         NaN          0                 0
125  ...            1       wides          0                 0
126  ...            0         NaN          0                 0
127  ...            1         NaN          0                 0
128  ...            1         NaN          0                 0

     dismissal_kind fielder  current_score  runs_left balls_left wickets
124               0       0              1        221        119      10
125               0       0              2        220        118      10
126               0       0              2        220        117      10
127               0       0              3        219        116      10
128               0       0              4        218        115      10

[5 rows x 24 columns]

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\177369347.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets'] = 10 - wickets

In [27]:
# Calculate Current Run Rate (CRR)
# CRR formula: (Current Score * 6) / (Total Overs - Overs Remaining)
# Total Overs in a limited overs cricket match is typically 120 for T20s.
# Here, 'balls_left' should represent the remaining balls in the innings.
delivery_df.loc[:, 'crr'] = np.where(
    (120 - delivery_df['balls_left']) > 0,  # Check if balls left is greater than 0
    (delivery_df['current_score'] * 6) / (120 - delivery_df['balls_left']),  # Calculate CRR
    0  # Set to 0 or np.nan if division by zero would occur
)

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\3055320694.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df.loc[:, 'crr'] = np.where(

In [28]:
# Calculate Required Run Rate (RRR)
# RRR formula: (Runs Left * 6) / Balls Left
# Here, 'run_left' represents the runs needed to win, and 'balls_left' is the number of balls remaining.
delivery_df.loc[:, 'rrr'] = (delivery_df['runs_left'] * 6) / delivery_df['balls_left']

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\1386145365.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df.loc[:, 'rrr'] = (delivery_df['runs_left'] * 6) / delivery_df['balls_left']

In [29]:
# Define the function to determine match result
def result(row):
    """Return 1 if batting_team is the winner, otherwise return 0."""
    return 1 if row['batting_team'] == row['winner'] else 0

In [30]:
# Apply the function to each row
delivery_df['result'] = delivery_df.apply(result, axis=1)

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\2130413745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['result'] = delivery_df.apply(result, axis=1)

In [31]:
# Replace infinity values with NaN
delivery_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows with NaN values
delivery_df.dropna(axis=0, inplace=True)

# Reset the index if needed
delivery_df.reset_index(drop=True, inplace=True)

print(delivery_df)

      match_id       city                 winner  total_runs_x  inning  \
0       335982  Bangalore  Kolkata Knight Riders           222       2
1       335982  Bangalore  Kolkata Knight Riders           222       2
2       335982  Bangalore  Kolkata Knight Riders           222       2
3       335982  Bangalore  Kolkata Knight Riders           222       2
4       335982  Bangalore  Kolkata Knight Riders           222       2
...        ...        ...                    ...           ...     ...
4819   1426312    Chennai  Kolkata Knight Riders           113       2
4820   1426312    Chennai  Kolkata Knight Riders           113       2
4821   1426312    Chennai  Kolkata Knight Riders           113       2
4822   1426312    Chennai  Kolkata Knight Riders           113       2
4823   1426312    Chennai  Kolkata Knight Riders           113       2

                     batting_team           bowling_team  over  ball  \
0     Royal Challengers Bangalore  Kolkata Knight Riders     0     2
1     Royal Challengers Bangalore  Kolkata Knight Riders     1     3
2     Royal Challengers Bangalore  Kolkata Knight Riders     2     5
3     Royal Challengers Bangalore  Kolkata Knight Riders     3     4
4     Royal Challengers Bangalore  Kolkata Knight Riders     6     4
...                           ...                    ...   ...   ...
4819        Kolkata Knight Riders    Sunrisers Hyderabad     3     1
4820        Kolkata Knight Riders    Sunrisers Hyderabad     3     4
4821        Kolkata Knight Riders    Sunrisers Hyderabad     6     2
4822        Kolkata Knight Riders    Sunrisers Hyderabad     6     5
4823        Kolkata Knight Riders    Sunrisers Hyderabad     8     2

                  batter  ... player_dismissed dismissal_kind  fielder  \
0               W Jaffer  ...                0              0        0
1                V Kohli  ...                0              0        0
2               W Jaffer  ...                0              0        0
3              JH Kallis  ...                0              0        0
4             MV Boucher  ...                0              0        0
...                  ...  ...              ...            ...      ...
4819  Rahmanullah Gurbaz  ...                0              0        0
4820  Rahmanullah Gurbaz  ...                0              0        0
4821  Rahmanullah Gurbaz  ...                0              0        0
4822             VR Iyer  ...                0              0        0
4823             VR Iyer  ...                0              0        0

      current_score  runs_left balls_left  wickets        crr        rrr  \
0                 2        220        118       10   6.000000  11.186441
1                 8        214        111        9   5.333333  11.567568
2                11        211        103        8   3.882353  12.291262
3                16        206         98        8   4.363636  12.612245
4                28        194         80        6   4.200000  14.550000
...             ...        ...        ...      ...        ...        ...
4819             38         75        101        9  12.000000   4.455446
4820             43         70         98        9  11.727273   4.285714
4821             76         37         82        9  12.000000   2.707317
4822             84         29         79        9  12.292683   2.202532
4823             96         17         70        9  11.520000   1.457143

     result
0         0
1         0
2         0
3         0
4         0
...     ...
4819      1
4820      1
4821      1
4822      1
4823      1

[4824 rows x 27 columns]

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\448526867.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df.replace([np.inf, -np.inf], np.nan, inplace=True)
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\448526867.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df.dropna(axis=0, inplace=True)

In [32]:
# Define columns to delete
columns_to_delete = ['match_id', 'winner', 'inning', 'over', 'ball']

# Create a reduced DataFrame without specified columns
reduced_df = delivery_df.drop(columns=columns_to_delete)

In [33]:
reduced_df.columns.to_numpy()

array(['city', 'total_runs_x', 'batting_team', 'bowling_team', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs_y', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'current_score', 'runs_left',
       'balls_left', 'wickets', 'crr', 'rrr', 'result'], dtype=object)

# Encording

In [34]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Preprocess the data if necessary


# Select the columns you want to use for PCA
selected_columns = [ 'batting_team',
                    'bowling_team',
                    'city',
                    'runs_left',
                    'balls_left',
                    'wickets',
                    'total_runs_x',
                    'crr','rrr',
                    'result',
                    'batter', 
                    'non_striker',
                    'bowler',
                    'batsman_runs',
                    'extra_runs',
                    'total_runs_y',
                    'player_dismissed',
                    'dismissal_kind',
                    'fielder',
                    'current_score',
                    'extras_type']

# Identify which columns in selected_columns exist in reduced_df
existing_columns = [col for col in selected_columns if col  in reduced_df.columns]

# Subset the data using only the columns that exist in reduced_df
data_subset = reduced_df[existing_columns]


# Display the columns in data_subset to confirm
existing_columns

['batting_team',
 'bowling_team',
 'city',
 'runs_left',
 'balls_left',
 'wickets',
 'total_runs_x',
 'crr',
 'rrr',
 'result',
 'batter',
 'non_striker',
 'bowler',
 'batsman_runs',
 'extra_runs',
 'total_runs_y',
 'player_dismissed',
 'dismissal_kind',
 'fielder',
 'current_score',
 'extras_type']

- Label Hot Encoding

In [35]:
# Convert categorical columns to numerical labels using label encoding
label_encoder = LabelEncoder()
for col in data_subset.columns:
    if data_subset[col].dtype == 'object':
        data_subset[col] = label_encoder.fit_transform(data_subset[col])

C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])
C:\Users\parak\AppData\Local\Temp\ipykernel_22664\844751967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset[col] = label_encoder.fit_transform(data_subset[col])

- feature scaling

In [36]:
# Standardize the data
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data_subset)

# Apply PCA with 10 components
pca = PCA(n_components=10)
data_reduced = pca.fit_transform(data_scaled)

column_mapping = {f'PC{i+1}': col for i, col in enumerate(data_subset.columns)}

final_df = pd.DataFrame(data_reduced, columns=[column_mapping.get(f'PC{i+1}') for i in range(10)])
# Convert the reduced data back to a DataFrame
#reduced_df = pd.DataFrame(data_reduced, columns=['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10'])

final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
0,-2.951015,0.422946,-1.354241,2.234677,0.513050,-1.574846,-0.284875,0.867774,-0.318526,-1.151347
1,-2.695712,-0.030617,2.660173,3.638408,-0.625256,-0.571637,-1.224409,-1.065991,-1.282758,-0.423167
2,-2.219949,0.358355,-1.637151,2.235343,-0.497421,-1.825327,0.374382,0.915706,-0.820786,-1.291362
3,-2.078786,0.270075,-1.205572,2.490098,-0.866818,0.338943,-1.875643,0.648182,0.322557,-0.616147
4,-1.093970,0.245648,-1.711617,2.304998,-0.964873,-1.366294,0.024880,1.102021,-0.844157,-1.654822
...,...,...,...,...,...,...,...,...,...,...
4819,-1.333844,-0.026113,0.356520,-1.908723,1.941927,1.329325,-0.288939,0.520594,-0.791047,0.978800
4820,-1.215904,-0.041255,0.347673,-1.968306,1.868376,1.333894,-0.287208,0.519266,-0.800368,0.994413
4821,-0.456371,-0.623835,4.727135,-0.837846,0.778626,1.663386,-0.867288,-1.439512,-1.514924,0.462257
4822,-0.140658,-0.292736,0.912520,-2.205989,1.651738,1.025861,0.197561,0.116987,-0.782412,0.460227
4823,0.157162,-0.331327,0.884513,-2.364979,1.440744,1.038712,0.205189,0.113663,-0.807945,0.502541

In [37]:
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr,result
0,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,0,2,220,118,10,6.000000,11.186441,0
1,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,V Kohli,...,0,0,0,8,214,111,9,5.333333,11.567568,0
2,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,5,W Jaffer,...,0,0,0,11,211,103,8,3.882353,12.291262,0
3,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,4,JH Kallis,...,0,0,0,16,206,98,8,4.363636,12.612245,0
4,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,4,MV Boucher,...,0,0,0,28,194,80,6,4.200000,14.550000,0

In [38]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
0,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,118,10,222,6.000000,11.186441,0
1,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,214,111,9,222,5.333333,11.567568,0
2,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,211,103,8,222,3.882353,12.291262,0
3,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,206,98,8,222,4.363636,12.612245,0
4,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,194,80,6,222,4.200000,14.550000,0
...,...,...,...,...,...,...,...,...,...,...
4819,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,75,101,9,113,12.000000,4.455446,1
4820,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,70,98,9,113,11.727273,4.285714,1
4821,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,37,82,9,113,12.000000,2.707317,1
4822,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,29,79,9,113,12.292683,2.202532,1
4823,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,17,70,9,113,11.520000,1.457143,1

In [39]:
final_df= final_df.sample(final_df.shape[0])
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
1590,Delhi Daredevils,Mumbai Indians,Mumbai,1,30,7,92,6.066667,0.200000,1
2651,Delhi Daredevils,Kings XI Punjab,Delhi,59,68,10,118,6.807692,5.205882,1
2750,Rajasthan Royals,Chennai Super Kings,Chennai,19,5,2,157,7.200000,22.800000,0
2392,Sunrisers Hyderabad,Royal Challengers Bangalore,Hyderabad,34,25,9,160,7.957895,8.160000,1
251,Deccan Chargers,Kolkata Knight Riders,Hyderabad,33,5,3,204,8.921739,39.600000,0
...,...,...,...,...,...,...,...,...,...,...
1987,Royal Challengers Bangalore,Rajasthan Royals,Bangalore,62,76,9,117,7.500000,4.894737,1
1114,Deccan Chargers,Chennai Super Kings,Nagpur,62,44,7,138,6.000000,8.454545,1
3147,Royal Challengers Bangalore,Kings XI Punjab,Bangalore,62,44,4,138,6.000000,8.454545,0
495,Kings XI Punjab,Royal Challengers Bangalore,Durban,162,111,10,168,4.000000,8.756757,1
3819,Chennai Super Kings,Delhi Capitals,Visakhapatnam,11,17,7,147,7.922330,3.882353,1

In [40]:
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
1590,Delhi Daredevils,Mumbai Indians,Mumbai,1,30,7,92,6.066667,0.200000,1
2651,Delhi Daredevils,Kings XI Punjab,Delhi,59,68,10,118,6.807692,5.205882,1
2750,Rajasthan Royals,Chennai Super Kings,Chennai,19,5,2,157,7.200000,22.800000,0
2392,Sunrisers Hyderabad,Royal Challengers Bangalore,Hyderabad,34,25,9,160,7.957895,8.160000,1
251,Deccan Chargers,Kolkata Knight Riders,Hyderabad,33,5,3,204,8.921739,39.600000,0

In [41]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [42]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
71,Mumbai Indians,Chennai Super Kings,Chennai,177,96,8,208,7.750000,11.062500
4278,Royal Challengers Bangalore,Chennai Super Kings,Mumbai,46,17,2,216,9.902913,16.235294
1326,Chennai Super Kings,Mumbai Indians,Mumbai,34,20,5,164,7.800000,10.200000
3651,Mumbai Indians,Kings XI Punjab,Mumbai,60,28,5,197,8.934783,12.857143
3816,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,3,5,3,162,8.295652,3.600000
...,...,...,...,...,...,...,...,...,...
1969,Mumbai Indians,Rajasthan Royals,Jaipur,143,70,6,179,4.320000,12.257143
3740,Kings XI Punjab,Royal Challengers Bangalore,Bengaluru,200,117,10,202,4.000000,10.256410
3951,Sunrisers Hyderabad,Kolkata Knight Riders,Chennai,109,59,8,187,7.672131,11.084746
56,Rajasthan Royals,Kings XI Punjab,Jaipur,123,95,8,166,10.320000,7.768421
2275,Kolkata Knight Riders,Delhi Daredevils,Delhi,129,95,10,160,7.440000,8.147368

In [43]:
X_test.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
863,Royal Challengers Bangalore,Kings XI Punjab,Bangalore,195,110,10,203,4.800000,10.636364
3351,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,123,83,10,175,8.432432,8.891566
3,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,206,98,8,222,4.363636,12.612245
3203,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata,124,92,9,176,11.142857,8.086957
149,Kolkata Knight Riders,Rajasthan Royals,Jaipur,191,114,10,196,5.000000,10.052632

### One Hot Encoding

In [44]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

## Logestic Regration

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [46]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [47]:
pipe.fit(X_train,y_train)

C:\Users\parak\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [48]:
y_pred = pipe.predict(X_test)

In [84]:
y_pred_with_train_Logestic=pipe.predict(X_train)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8149171270718232

In [50]:
# Predict on the training set
y_train_pred = pipe.predict(X_train)

# Calculate training accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
print("Training Accuracy:", train_accuracy)

Training Accuracy: 0.8329383886255924

In [51]:
pipe.predict_proba(X_test)[4]

array([0.85493287, 0.14506713])

## SVM Clasifer

In [52]:
from sklearn.svm import SVC
print("Training Linear SVM...")
pipeSvm = Pipeline(steps=[
    ('step1',trf),
    ('step2',SVC(kernel='linear', probability=True, random_state=42))
])

Training Linear SVM...

In [53]:
pipeSvm.fit(X_train, y_train)

C:\Users\parak\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2',
                 SVC(kernel='linear', probability=True, random_state=42))])

In [54]:
# Linear SVM predictions
y_pred = pipeSvm.predict(X_test)

In [81]:
y_pred_with_train=pipeSvm.predict(X_train)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8156077348066298

In [56]:
# Predict on the training set
y_train_pred = pipeSvm.predict(X_train)

# Calculate training accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
print("Training Accuracy:", train_accuracy)

Training Accuracy: 0.8344194312796208

In [57]:
pipeSvm.predict_proba(X_test)[2]

array([0.97971487, 0.02028513])

## Evaluation

In [64]:
from sklearn.metrics import accuracy_score ,f1_score,precision_score ,recall_score

def training_scores(y_act,y_pred):
    acc=round(accuracy_score(y_act,y_pred),3)
    pr= round(precision_score(y_act,y_pred),3)
    rec= round(recall_score(y_act,y_pred),3)
    print(f'Training Score:\n\tAccuracy ={acc}\n\tPrecision={pr}\n\tRecall={rec}')

def validation_Scores(y_act,y_pred):
    acc=round(accuracy_score(y_act,y_pred),3)
    pr= round(precision_score(y_act,y_pred),3)
    rec= round(recall_score(y_act,y_pred),3)
    print(f'Training Score:\n\tAccuracy ={acc}\n\tPrecision={pr}\n\tRecall={rec}')

In [85]:
#Logestic training score
training_scores(y_train,y_pred_with_train_Logestic)

Training Score:
	Accuracy =0.833
	Precision=0.828
	Recall=0.842

In [86]:
#Logestic testing score
validation_Scores(y_pred,y_test)

Training Score:
	Accuracy =0.816
	Precision=0.809
	Recall=0.84

In [ ]:
#svm training score
training_scores(y_train,y_pred_with_train)

Training Score:
	Accuracy =0.834
	Precision=0.83
	Recall=0.844

In [ ]:
#Svm testing score
validation_Scores(y_pred,y_test)

Training Score:
	Accuracy =0.816
	Precision=0.809
	Recall=0.84